<footer class="page-footer cyan">
    <div class="container">
        <div class="row">
            <div class="col s6">
                <h5 class="white-text">Memory Corner</h5>
                <p class="grey-text text-lighten-4">
                    The blessed memory of the site "se.ifmo", which turned out to be beyond the event horizon from 11:00
                    09/05/2020 to 22:00 09/06/2020.
                </p>
            </div>
            <div class="col offset-s3 s3">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3 valign-wrapper mb05"
                           href="https://github.com/burevestnik-png"
                           target="_blank"
                           rel="noreferrer noopener"
                    >
                        <i class="material-icons">account_box</i>
                        Yarik's git
                    </a></li>
                    <li><a class="grey-text text-lighten-3 valign-wrapper mb05"
                           href="https://github.com/Roggired"
                           target="_blank"
                           rel="noreferrer noopener"
                    >
                        <i class="material-icons">account_box</i>
                        Aleksei's git
                    </a></li>
                    <li><a class="grey-text text-lighten-3 valign-wrapper"
                           href="https://github.com/burevestnik-png/web_lab2"
                           target="_blank"
                           rel="noreferrer noopener"
                    >
                        <i class="material-icons">description</i>
                        Source code
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p class="center footer-paragraph">
            &copy; 2020 Yaroslav Kulinich aka Yarki <br>
            &copy; 2020 Aleksei Egoshin
        </p>
    </div>
</footer>
