<header>
    <nav>
        <div class="nav-wrapper cyan">
            <img src="assets/static/logo_transparent.png"
                 alt=""
            >
            <a href="https://github.com/burevestnik-png/web_lab2"
               target="_blank"
               rel="noreferrer noopener"
               class="brand-logo center"
            >
                First time, second lab.
            </a>
            <ul class="right">
                <li>
                    <div class="switch mr1">
                        <label class="white-text"
                               style="font-size: 1.6rem;"
                        >
                            &#127774;
                            <input type="checkbox"
                                   id="theme-btn"
                            >
                            <span class="lever"></span>
                            &#127770;
                        </label>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>